html {
	background-color: rgb(77, 119, 174);
	color: azure;

}

*{
	font-family: "Orbitron", sans-serif;
}

h2{
	font-family: "Orbitron", sans-serif;

}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.display-block {
	display: block;
}

.mainApp {
	display: flex;
	align-items: center;
	justify-content: center;
}

.appContent{
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	flex-direction: column;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	min-height: 400px;
	max-width: 100%;
	align-items: center;
	/* display: flex; */
}

.grid-container {
	float: left;
	width: 210px;
	min-height: 250px;
	text-align: center;
	width: 50%;
	display: table;
	margin: auto;

}

.grid {
	background-color: rgb(248, 248, 248);
	border: solid 5px rgb(249, 90, 0);
	width: 140px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	box-shadow: 5px 5px rgb(6, 6, 165), 5px 5px #0c0c24;
	overflow: auto;
	color: navy;
	background-color: rgb(77, 119, 174);
}

.row {
	width: 100%;
	height: 50%;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.cell {
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
	font-size: 150%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	justify-content: center;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 1px;
	transition: all linear 0.05s;
}

.cell > span{
	background-color: #d8d8dd;
	border-radius: 6px;

}

#empty {
	background-color: rgba(0, 0, 0, 0);
}

.start .cell {
	cursor: pointer;

}

.cell:hover {
	background-color: rgb(221, 221, 221);
	background-color: white;
}

.solver {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 5px;
}

.solver div {
	padding: 5px;
	min-height: 50px;
}

.solver button {
	min-height: 40px;
	min-width: 50px;
	border-radius: 2px;
	border-width: 0px;
	font-weight: bold;
	cursor: pointer;
}

#solveButton {
	background-color: rgb(249, 90, 0);
	color: azure;
}

#solveButon:hover {
	background-color: rgb(255, 149, 1);
	/* cursor: pointer; */
	/* background-color: white; */
}

#shuffleButton {
	background-color: rgb(11, 166, 0);
	color: azure;
}


#panel {
	width: 100%;
	background-color: rgb(7, 7, 94);
	min-height: 100px;
	color: white;
	font-weight: bold;
	font-family: "Orbitron", sans-serif;
	text-align: left;


    background-color: #99a883;
    border-radius: 6px;
    box-shadow: 0 5px 20px 0.05px #130f0a inset, 5px 0 10px -4px #130f0a inset, -0.5px 0 3px 1px #130f0a inset, 0 0 0 2px rgba(0,0,0,1), 0 65px 50px -10px rgba(0,0,0,-0.05);
}


@media only screen and (max-width: 800px) {
	#goal {
		display: none;
	}
}

body{
    overflow: hidden;
    font-family: sans-serif; 
    background-color: #387b6a;
    height: 100vh;  
	margin: unset;
}

.menu{
    height: 100%;
    width: 250px;
    background-color: #212121; 
    height: 100vh;  
    transition: 0.5s;
	padding: unset;
	margin: unset;
}

ul{
	list-style: none;
	margin: unset;
	padding: unset;
}

ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    transition: 0.3s;
    /*text-align: center;*/
	list-style: none;
	margin: unset;
	padding: unset;
}
ul li:hover{
    padding-left: 35px;
    background-color: #445665;
}
ul li a{
    display: block;
    color: #fff;
    padding: 20px;
    font-weight: bold;
	text-decoration: none;
}